@charset "UTF-8";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit-Light.woff2") format("woff2"), url("../fonts/Larsseit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit.woff2") format("woff2"), url("../fonts/Larsseit.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.ibg-contain {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.ibg-contain img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

body {
  font-family: Larsseit;
  font-weight: 400;
  font-size: 0.875rem;
  box-sizing: border-box;
}

.container {
  max-width: 1266px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

body._lock {
  overflow: hidden;
}

.page {
  position: relative;
  padding-top: 6.5625rem;
  min-height: 100vh;
}

.page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 77.5694444444%;
  background-color: #f4f9e2;
}

.page__intro {
  padding-top: 8.125rem;
  padding-bottom: 5rem;
}

.logo {
  color: #62d0df;
  letter-spacing: -0.035em;
  font-size: 1.5rem;
  line-height: 1.125;
}

.button {
  text-transform: uppercase;
  color: #fab63e;
  font-size: 1rem;
  line-height: 1.4375;
  letter-spacing: 0.1em;
  min-height: 2.625rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease 0s;
}

.button:hover {
  color: #ca9334;
  text-decoration: underline;
}

.button__blue {
  color: #62d0df;
}

.button__blue:hover {
  color: #58b8c5;
  text-decoration: underline;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__wrapper {
  display: flex;
  min-height: 6.5625rem;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease 0s;
}

.header__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}

.header__wrapper.scroll::before {
  opacity: 1;
  visibility: visible;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9375rem;
}

.header__logo {
  position: relative;
  z-index: 5;
  margin-left: calc(0px + 170 * ((100vw - 320px) / 1120));
}

.header__menu {
  flex: 1 1 auto;
}

.menu-header__body {
  transition: all 0.3s ease;
}

.menu-header__body::before {
  content: "";
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 3.75rem;
  z-index: 5;
  background-color: #e9f0d4;
  transition: all 0.3s ease;
}

.menu-header__body._active {
  left: 0;
}

.menu-header__body._active::before {
  left: 0;
}

.menu-header__list {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 20px;
}

.menu-header__link {
  color: #22356f;
  line-height: 1.1428571429;
  padding: 0px 5px 15px 5px;
  position: relative;
  transition: color 0.5s ease-in;
}

.menu-header__link:hover {
  font-weight: 500;
  color: #1f3166;
}

.menu-header__link.active {
  font-weight: 500;
}

.menu-header__link.active::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #22356f;
  left: 0;
  bottom: 0;
}

.action-header {
  position: relative;
  z-index: 5;
}

.action-header__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #62d0df;
  padding: 0 1.875rem;
  min-height: 3.125rem;
  border-radius: 1.875rem;
  font-weight: 500;
  line-height: 1.1428571429;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.action-header__button:hover {
  background-color: #50b7c5;
}

.intro {
  position: relative;
  z-index: 2;
}

.intro-body__logo:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.intro-body__title {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1.125;
  color: #22356f;
  font-weight: 700;
}

.intro-body__title:not(:last-child) {
  margin-bottom: 2.8125rem;
}

.intro-body__text {
  font-size: 1.5rem;
  line-height: 1.75;
  font-weight: 500;
  color: #22356f;
}

.intro-body__text:not(:last-child) {
  margin: 0px 0px 3.75rem 0px;
}

.intro-body__text p:not(:last-child) {
  margin: 0px 0px 0.9375rem 0px;
}

.button-intro {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  flex-wrap: wrap;
}

.button-intro__button {
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  transition: all 0.3s ease;
}

.button-intro__background {
  background-color: #f9b640;
  color: #fff;
}

.button-intro__background:hover {
  background-color: #d89d36;
}

.button-intro__nobackground {
  color: #f9b640;
}

.button-intro__nobackground:hover {
  background-color: #d89d36;
  color: #fff;
}

.image-intro {
  position: relative;
  padding-bottom: 60%;
}

.image-intro__decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-intro__decor::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #edfdff;
  border-radius: 18.75rem;
  transform: translate(0%, -15%) rotate(-20deg);
}

.image-intro__picture {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 18.75rem;
  transform: translate(0%, -10%) rotate(-10deg);
}

.why__block {
  display: flex;
}

.why__body {
  background-color: #62d0df;
  flex: 0 0 63.4722222222%;
  padding: 9.4375rem 0.9375rem 5.9375rem 0.9375rem;
}

.why__image {
  flex: 1 1 auto;
}

.why__image.ibg {
  background-position: left;
}

.body-why__content {
  max-width: 34.6875rem;
  margin: 0 auto;
}

.body-why__title {
  font-size: 2.25rem;
  line-height: 1;
  letter-spacing: -0.006em;
  font-weight: 700;
  color: #fff;
}

.body-why__title:not(:last-child) {
  margin: 0 0 4.6875rem 0;
}

.body-why__text {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.75;
}

.body-why__text span {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
}

.body-why__text p:not(:last-child) {
  margin: 0 0 0.9375rem 0;
}

.about__body {
  display: flex;
  padding-top: 9.375rem;
  color: #22356f;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
}

.about__title {
  font-size: 1rem;
  line-height: 1.4375;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  align-self: center;
}

.about__text {
  font-size: 1.5rem;
  line-height: 1.4166666667;
  letter-spacing: 0.005em;
  font-weight: 600;
}

.ourservices {
  padding-bottom: 0.625rem;
  padding-top: 4.375rem;
}

.ourservices__title {
  font-size: 1rem;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgba(34, 53, 111, 0.5);
  font-weight: 500;
}

.ourservices__title:not(:last-child) {
  margin: 0 0 1.5rem 0;
}

.ourservices__body {
  display: flex;
  flex-wrap: wrap;
}

.ourservices__body:not(:last-child) {
  margin: 0 0 7.5rem 0;
}

.ourservices-body__item {
  flex: 1 1 25%;
  min-height: 22.5rem;
  min-width: 17.5rem;
  padding: 0 3.125rem;
  position: relative;
}

.ourservices-body__item:first-child {
  background-color: #ffe2de;
}

.ourservices-body__item:nth-child(2) {
  background-color: #c4e769;
}

.ourservices-body__item:nth-child(3) {
  background-color: #62d0df;
}

.ourservices-body__item:nth-child(4) {
  background-color: #0052c1;
}

.ourservices-body__item_big {
  flex: 1 1 33.333%;
}

.ourservices-body__item_big:first-child {
  background-color: #22356f;
}

.ourservices-body__item_big:nth-child(2) {
  background-color: #0052c1;
}

.ourservices-body__item_big:nth-child(3) {
  background-color: #56becc;
}

.ourservices-body__item_big:nth-child(4) {
  background-color: #62d0df;
}

.ourservices-body__item_big:nth-child(5) {
  background-color: #dee1ff;
}

.ourservices-body__item_big:nth-child(6) {
  background-color: #8f00ff;
}

.ourservices-body__label {
  font-size: 2rem;
  line-height: 1.0625;
  letter-spacing: -0.006em;
  color: #fff;
  font-weight: 700;
  position: relative;
  margin-top: 4.375rem;
  padding-left: 1.5625rem;
}

.ourservices-body__label::before {
  content: "";
  position: absolute;
  top: 0.625rem;
  left: 0;
  width: 0.5625rem;
  height: 0.5625rem;
  background: #e9b730;
  border-radius: 50%;
}

.ourservices-body__label::after {
  content: "";
  position: absolute;
  top: -1.4375rem;
  left: 0;
  width: 100%;
  border: 1px solid #fff;
}

.ourservices-body__label_big {
  padding-left: 2.0625rem;
}

.ourservices-body__label_big::before {
  width: 0.75rem;
  height: 0.75rem;
}

.info__container {
  display: grid;
}

.item-info__body {
  max-width: 31.25rem;
}

.item-info__title {
  font-size: 1.75rem;
  line-height: 1.1785714286;
  color: #22356f;
}

.item-info__title:not(:last-child) {
  margin: 0 0 1.8125rem 0;
}

.item-info__text {
  font-size: 1rem;
  line-height: 1.5625;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

.item-info__text p:not(:last-child) {
  margin: 0 0 0.9375rem 0;
}

.alsoknow__container {
  display: flex;
}

.alsoknow__image {
  flex: 0 0 33.3333333333%;
}

.alsoknow__image img {
  max-width: 100%;
}

.alsoknow__content {
  flex: 1 1 auto;
  padding: 6.4375rem 0.9375rem 2.625rem 6.625rem;
}

.alsoknow-content__body {
  max-width: 42.25rem;
}

.alsoknow-content__label {
  font-size: 1rem;
  line-height: 0.75;
  letter-spacing: 0.06em;
  color: #22356f;
  text-transform: uppercase;
}

.alsoknow-content__label:not(:last-child) {
  margin: 0 0 14.0625rem 0;
}

.alsoknow-content__text {
  font-size: 2.25rem;
  line-height: 1.4722222222;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: #22356f;
}

.alsoknow-content__text span {
  color: #6cd3e1;
}

.alsoknow-content__text:not(:last-child) {
  margin: 0 0 9.5rem 0;
}

.contact-us__container {
  display: flex;
}

.contact-us__content {
  flex: 0 1 66.6666666667%;
  padding-right: 12.5rem;
  background-color: #22356f;
}

.contact-us__body {
  max-width: 36.25rem;
  color: #fff;
  padding-top: 6.4375rem;
  padding-bottom: 2.5rem;
  padding-left: 0.9375rem;
  margin: 0 0 0 auto;
}

.contact-us__label {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 0.75;
  letter-spacing: 0.06em;
}

.contact-us__label:not(:last-child) {
  margin: 0 0 14.375rem 0;
}

.contact-us__title {
  font-size: 4rem;
  line-height: 1.46875;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.contact-us__title:not(:last-child) {
  margin: 0 0 4.375rem 0;
}

.contact-us__text {
  font-size: 2.25rem;
  line-height: 1.4722222222;
  letter-spacing: -0.005em;
  font-weight: 300;
}

.contact-us__text:not(:last-child) {
  margin: 0 0 3.75rem 0;
}

.contact-us__text p:not(:last-child) {
  margin: 0 0 0.9375rem 0;
}

.contact-us__image {
  flex: 1 1 auto;
}

.contact-us__image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer__container {
  display: flex;
}

.footer__image {
  flex: 0 0 39.5833333333%;
}

.footer__image img {
  display: block;
  max-width: 100%;
}

.footer__content {
  flex: 1 1 auto;
}

.footer__bottom {
  display: flex;
  align-items: center;
  min-height: 5rem;
  background-color: #62d0df;
}

.content-footer__body {
  padding-top: 6.125rem;
  padding-bottom: 6.125rem;
}

.menu-footer__body {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.25rem;
}

.menu-footer__item {
  flex: 1 1 33.3333%;
  min-width: 15rem;
  padding: 0 2.5rem;
}

.menu-footer__item:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.menu-footer__title {
  line-height: 1.2857142857;
  letter-spacing: -0.006em;
  font-weight: 700;
  color: #22356f;
}

.menu-footer__title:not(:last-child) {
  margin: 0 0 2.8125rem 0;
}

.menu-footer__text {
  line-height: 1.6428571429;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}

.menu-footer__text:not(:last-child) {
  margin: 0 0 1.875rem 0;
}

.menu-footer__text p:not(:last-child) {
  margin: 0 0 0.625rem 0;
}

.menu-footer__phone {
  display: block;
  line-height: 1.6428571429;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
  word-wrap: none;
}

.menu-footer__phone:hover {
  text-decoration: underline;
}

.menu-footer__email {
  line-height: 1.6428571429;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
  word-wrap: none;
}

.menu-footer__email:hover {
  text-decoration: underline;
}

.menu-footer__dates {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
}

.menu-footer__date {
  line-height: 1.6428571429;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}

.bottom-footer__container {
  color: #fff;
  margin-left: 3.75rem;
}

.bottom-footer__title {
  line-height: 0.7857142857;
  letter-spacing: -0.006em;
  position: relative;
  padding-left: 0.9375rem;
}

.bottom-footer__title::before {
  content: "©";
  position: absolute;
  top: 0.125rem;
  left: 0;
  width: 0.5625rem;
  height: 0.375rem;
}

@media (min-width: 478.98px) {
  .ourservices-body__item {
    min-width: 22.5rem;
  }

  .alsoknow__image {
    position: relative;
  }

  .alsoknow__image img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .contact-us__image {
    position: relative;
  }

  .contact-us__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .footer__image {
    position: relative;
  }

  .footer__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 767.98px) {
  .menu-header__body {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .menu-header__list {
    flex-wrap: wrap;
  }

  .icon-menu {
    display: none;
  }

  .intro {
    display: flex;
    align-items: center;
  }

  .intro__content {
    flex: 0 0 100%;
  }

  .intro__body {
    width: 50%;
    padding: 0rem 2.5rem 0rem 4.625rem;
  }

  .intro__image {
    flex: 0 0 50%;
    transform: translate(-100%, 0);
  }

  .image-intro {
    padding-bottom: 32%;
  }

  .image-intro__decor::before {
    transform: translate(5%, -20%) rotate(-50deg);
  }

  .image-intro__picture {
    transform: translate(5%, -8%) rotate(-30deg);
  }

  .about__title {
    flex: 0 1 20rem;
  }

  .about__text {
    max-width: 37rem;
  }

  .ourservices-body__label_big {
    margin-top: 5.9375rem;
  }

  .info__container {
    grid-template-columns: repeat(auto-fill, minmax(23.75rem, 1fr));
  }

  .item-info__body {
    max-width: 18.75rem;
    margin: 3.4375rem auto 2.25rem;
  }
}

@media (min-width: 991.98px) {
  .intro__image {
    transform: translate(-90%, 0);
  }

  .image-intro__decor::before {
    transform: translate(15%, -45%) rotate(-60deg);
  }

  .image-intro__picture {
    transform: translate(15%, -25%) rotate(-30deg);
  }

  .ourservices-body__item_big {
    min-width: 30rem;
    min-height: 30rem;
    padding: 0 4.375rem;
  }

  .menu-footer__text {
    max-width: 10.5625rem;
  }
}

@media (min-width: 1310px) {
  .menu-footer__body {
    margin-left: 4.25rem;
  }
}

@media (min-width: 1980px) {
  .image-intro__decor {
    border-radius: 25rem;
  }

  .image-intro__picture {
    border-radius: 25rem;
  }
}

@media (max-width: 1300.98px) {
  .page__intro {
    padding-top: 5rem;
    padding-bottom: 3.125rem;
  }

  .intro__body {
    padding: 0rem 1.25rem 0rem 2.125rem;
  }
}

@media (max-width: 1200.98px) {
  .page__intro {
    padding-top: 3.75rem;
    padding-bottom: 3.125rem;
  }
}

@media (max-width: 1191.98px) {
  .menu-footer__item:nth-child(2) {
    border-right: none;
  }
}

@media (max-width: 1139.98px) {
  .item-info__body {
    text-align: center;
  }
}

@media (max-width: 1109.98px) {
  .intro__body {
    padding: 0rem 0.9375rem 0rem 0.9375rem;
  }

  .intro-body__title {
    font-size: 2.75rem;
  }
}

@media (max-width: 1060px) {
  .contact-us__content {
    padding-right: 9.375rem;
  }

  .contact-us__label:not(:last-child) {
    margin: 0 0 9.375rem 0;
  }
}

@media (max-width: 991.98px) {
  .page__intro {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .intro__body {
    padding: 0;
  }

  .intro-body__title {
    font-size: 2.125rem;
  }

  .intro-body__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .intro-body__text {
    font-size: 1.375rem;
  }

  .intro-body__text:not(:last-child) {
    margin: 0px 0px 2.5rem 0px;
  }

  .ourservices__body:not(:last-child) {
    margin: 0 0 3.75rem 0;
  }

  .alsoknow__content {
    padding: 5rem 0.9375rem 1.875rem 2.5rem;
  }

  .alsoknow-content__label:not(:last-child) {
    margin: 0 0 9.375rem 0;
  }

  .alsoknow-content__text:not(:last-child) {
    margin: 0 0 6.25rem 0;
  }

  .contact-us__content {
    padding-right: 5.625rem;
  }

  .contact-us__label:not(:last-child) {
    margin: 0 0 6.25rem 0;
  }

  .contact-us__title {
    font-size: 2.75rem;
  }

  .contact-us__title:not(:last-child) {
    margin: 0 0 3.125rem 0;
  }

  .content-footer__body {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }

  .menu-footer__item {
    padding: 0 0.9375rem;
  }

  .menu-footer__title:not(:last-child) {
    margin: 0 0 1.5625rem 0;
  }
}

@media (max-width: 794.98px) {
  .menu-footer__item:first-child {
    border-right: none;
  }
}

@media (max-width: 767.98px) {
  .page {
    padding-top: 4.375rem;
  }

  .page__intro {
    padding-top: 0.625rem;
    padding-bottom: 0.3125rem;
  }

  .header__wrapper {
    min-height: 3.75rem;
  }

  .menu-header__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #e5e9d7;
    padding: 5rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
  }

  .menu-header__list {
    flex-direction: column;
    align-items: center;
  }

  .menu-header__link {
    font-size: 2rem;
  }

  .action-header {
    display: flex;
    align-items: center;
    gap: 0.9375rem;
  }

  .icon-menu {
    display: block;
    width: 30px;
    height: 18px;
    z-index: 5;
    cursor: pointer;
    position: relative;
  }

  .icon-menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    transition: all 0.3s ease 0s;
    background: rgba(0, 0, 0, 0.64);
  }

  .icon-menu::after,
  .icon-menu::before {
    content: "";
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .icon-menu._active::before {
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }

  .icon-menu._active::after {
    bottom: 50%;
    transform: rotate(-45deg) translate(0px, 50%);
  }

  .intro__body {
    position: relative;
    z-index: 3;
    margin-bottom: 3.125rem;
  }

  .why__body {
    padding: 4.375rem 0.9375rem 2.5rem 0.9375rem;
  }

  .body-why__title:not(:last-child) {
    margin: 0 0 1.875rem 0;
  }

  .about__body {
    flex-direction: column;
    padding-top: 3.75rem;
    row-gap: 1.25rem;
  }

  .about__title {
    font-size: 1.375rem;
    font-weight: 700;
  }

  .about__text {
    text-align: center;
  }

  .ourservices {
    padding-top: 2.5rem;
  }

  .ourservices__body:not(:last-child) {
    margin: 0 0 2.5rem 0;
  }

  .ourservices-body__item {
    padding: 0 1.875rem;
  }

  .info__container {
    padding: 0 0.9375rem;
  }

  .item-info__body {
    margin: 1.25rem auto 0.9375rem;
  }

  .item-info__title:not(:last-child) {
    margin: 0 0 0.9375rem 0;
  }

  .alsoknow__content {
    padding: 2.5rem 0.9375rem 1.25rem 1.875rem;
  }

  .alsoknow-content__label:not(:last-child) {
    margin: 0 0 5rem 0;
  }

  .alsoknow-content__text:not(:last-child) {
    margin: 0 0 3.75rem 0;
  }

  .alsoknow-content__text {
    font-size: 1.75rem;
  }

  .contact-us__content {
    padding-right: 1.875rem;
  }

  .contact-us__body {
    padding-top: 4.375rem;
    padding-bottom: 1.875rem;
  }

  .contact-us__label:not(:last-child) {
    margin: 0 0 3.75rem 0;
  }

  .contact-us__title {
    font-size: 2.5rem;
  }

  .contact-us__title:not(:last-child) {
    margin: 0 0 1.875rem 0;
  }

  .contact-us__text {
    font-size: 1.75rem;
  }

  .contact-us__text:not(:last-child) {
    margin: 0 0 1.875rem 0;
  }

  .footer__bottom {
    min-height: 3.125rem;
  }

  .content-footer__body {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .menu-footer__title:not(:last-child) {
    margin: 0 0 0.9375rem 0;
  }
}

@media (max-width: 767px) {
  .action-header__button {
    padding: 0 0.9375rem;
    min-height: 2.5rem;
  }
}

@media (max-width: 600px) {
  .why__block {
    flex-direction: column;
  }

  .why__body {
    padding: 2.5rem 0.9375rem 1.875rem 0.9375rem;
  }

  .why__image {
    padding-bottom: 70%;
  }
}

@media (max-width: 478.98px) {
  .button-intro {
    margin-bottom: 0.9375rem;
  }

  .button-intro__button {
    width: 100%;
  }

  .body-why__title {
    font-size: 1.75rem;
    text-align: center;
  }

  .body-why__text {
    font-size: 1.125rem;
  }

  .body-why__text span {
    font-size: 1.25rem;
  }

  .about__body {
    padding-top: 2.5rem;
  }

  .about__text {
    font-size: 1rem;
  }

  .ourservices-body__item {
    padding: 0 0.9375rem;
  }

  .ourservices-body__label {
    font-size: 1.75rem;
  }

  .alsoknow__container {
    flex-direction: column-reverse;
  }

  .alsoknow__content {
    padding: 2.5rem 0.9375rem 1.25rem 0.9375rem;
  }

  .alsoknow-content__body {
    text-align: center;
  }

  .alsoknow-content__label:not(:last-child) {
    margin: 0 0 2.5rem 0;
  }

  .alsoknow-content__text:not(:last-child) {
    margin: 0 0 1.25rem 0;
  }

  .contact-us__container {
    flex-direction: column;
  }

  .contact-us__content {
    padding-right: 0.9375rem;
  }

  .contact-us__body {
    padding-top: 3.125rem;
  }

  .contact-us__label {
    text-align: center;
  }

  .contact-us__label:not(:last-child) {
    margin: 0 0 2.5rem 0;
  }

  .contact-us__title {
    font-size: 2.125rem;
  }

  .contact-us__title:not(:last-child) {
    margin: 0 0 1.25rem 0;
  }

  .contact-us__text {
    font-size: 1.5rem;
  }

  .contact-us__text:not(:last-child) {
    margin: 0 0 1.25rem 0;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .content-footer__body {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

@media (max-width: 467.98px) {
  .footer__bottom {
    min-height: 2.5rem;
  }

  .menu-footer__text:not(:last-child) {
    margin: 0 0 0.9375rem 0;
  }
}